!.mvn/wrapper/maven-wrapper.jar
!../../../../../../constant/src/main/java
!**/src/test/**
!**/target/**
target/

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Log ###
*.log
*.log.gz

### Project ###
LOG_PATH_IS_UNDEFINED/
.classpath
.project
.settings
.dat
_id_sequence.dat